---
import Layout from '../layouts/Layout.astro'
import AlbumList from '../components/AlbumList.astro'
---
<Layout title="@heymatthenry's Top 10">
	<h1>Top10</h1>
	<AlbumList />
</Layout>

<style>
h1 {
	color: var(--body-text-color);
	font-size: 12em;
	margin: 0 0 -.5ch 0;
	-webkit-text-stroke: 3px var(--body-text-color);
	-webkit-text-fill-color: var(--body-bg-color);
}
</style>
