---
import { Image } from '@astrojs/image/components';
const { album } = Astro.props;
---

<li class="album">
	<details>
		<summary>
			<Image 
				src={ album.coverArtUri } 
				width={400} 
				aspectRatio={1/1} 
				alt={'Album cover for ' + album.frontmatter.title}
			/>
		</summary>
		<div class="info">
			<div class="artist">
				{album.frontmatter.artist}
			</div>
			<div class="title">
				{album.frontmatter.title}
			</div>
		</div>
	</details>
</li>

<style>
.album img {
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

details {
	font-size: 1.2rem;
}

summary {
	height: 400px;
	list-style: none;
}

summary::-webkit-details-marker {
  display:none;
}


summary:focus {
	outline: 3px dashed hotpink;
}

.info {
	padding-top: 1rem;
}

.artist {
	font-size: 1.5rem;
	font-weight: 700;
}

.title {
	font-style: italic;
}
</style>
